  
  /*-----------------------------------*\
    #FOOTER
  \*-----------------------------------*/
  
  .footer {
    background: var(--light-blue-ryb); /* Match the gradient at the bottom */
    padding: 40px 20px;
    text-align: center;
  }
  
  .footer .logo { margin-block-end: 25px; }
  
  .footer-text {
    font-size: var(--fs-5);
    font-weight: var(--fw-500);
    line-height: 1.4;
  }
  
  .footer-list .h5 {
    font-weight: var(--fw-700);
    margin-block-end: 15px;
  }
  
  .footer-list-item {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .footer-list-item ion-icon {
    font-size: 18px;
    flex-shrink: 0;
  }
  
  .footer-link {
    font-size: var(--fs-7);
    font-weight: var(--fw-500);
    margin-block-start: 8px;
  }
  
  .copyright {
    font-size: var(--fs-8);
    margin-block-start: 25px;
  }
  
  .copyright-link { display: inline-block; }
  