/*-----------------------------------*\
  #HERO
\*-----------------------------------*/
.hero-section {
  position: relative;
  width: 100%;
}

.hero-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  position: relative;
}

.hero-content {
  display: flex;
  align-items: center;
  min-height: 400px; /* Set a fixed min-height for the animation area */
  position: relative;
}

.typing-animation-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  z-index: 1;
}

.hero-right {
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
}

